@mixin min($screen) {
  @media only screen and (min-width: $screen+"px") {
    @content;
  }
}

@mixin max($screen) {
  @media only screen and (max-width: $screen+"px") {
    @content;
  }
}

.grid--col-1 {
  grid-column: 1;
}

.grid--col-2 {
  grid-column: 2;
}

.grid--col-1-of-2 {
  grid-column: span 2 !important;
}

.margin-bottom-top {
  margin: 2rem 0;
}

.margin-top-small {
  margin: 1rem 0 0 !important;
}

.margin-bottom-small {
  margin: 0 0 1rem !important;
}
