$color-white: #fafafa;
$color-white-1: #f8f8f8;

$background-body: #f6f6f6;

$color-black: #3a3939;
$color-black-light: #6d6e76;

$color-gray: #d3d7e4;
$color-gray-light: #f2f6fa;
$color-gray-dark: #4c4c4c;

$color-blue: #1862b2;
$color-blue-dark: #103166;

$color-orange: #f8c392;
$color-orange-dark: #fab87b;

$color-green: #c8f3d8;

$color-purple: #bed3ff;
$color-purple-dark: #7a73ff;

$default-font-size: 1.4rem;
$default-font-size-desktop: 1.6rem;
