$color-white: #fff;
$color-black: #3a3939;

$color-gray: #d3d7e4;

$color-blue: #1862b2;

$color-orange: #f8c392;
$color-orange-dark: #fab87b;

$color-green: #c8f3d8;

$color-purple: #bed3ff;
$color-purple-dark: #7a73ff;

$default-font-size: 1.4rem;
