@import "/src/sass/abstracts/variables";
@import "/src/sass/abstracts/utilities";

.button {
  width: 100%;
  padding: 1.5rem;
  border-radius: 4px;

  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;

  @include min(1200) {
    & {
      font-size: 1.8rem;
    }
  }

  cursor: pointer;

  &--blue {
    background: $color-blue;
    color: $color-white;
  }
  &--white {
    background: $color-white;
    color: $color-gray-dark;
  }
}
