@import "/src/sass/abstracts/variables";
@import "/src/sass/abstracts/utilities";

.cards {
  margin: 0 0 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  margin-bottom: 5rem;

  &::before,
  &::after {
    content: "";

    width: 80%;
    height: 1px;

    background: $color-gray;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @include min(769) {
    & {
      clip-path: polygon(0 8%, 100% 0%, 100% 99%, 0% 100%);
      background: $color-gray-light;
    }

    &__container {
      display: flex;
      justify-content: center;
      gap: 3rem;

      padding: 4rem 3rem;
      padding-top: 8rem;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}
